# dll files
pyache/
*.py[cod]
*$py.class

# packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# env
myenv/
.env
.venv
env/
venv/
uploads/
# docker
.dockerignore

# os
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db